.row{
  width: 80%;
  margin: auto;
}

#navbar{
    background-color: rgba(0, 0, 0, 0.521);
    padding-top: 10px;
  }
  
.navbar-light .navbar-nav .nav-link{
margin-right: 30px;
color: rgba(255, 255, 255, 0.815);
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover{
color: rgba(37, 255, 55, 0.87);
}

.navbar-light .navbar-nav .nav-link.active{
color: rgba(37, 255, 55, 0.87);
}

.nav-num{
color: rgb(32, 255, 244);
}

.socials{
    margin-left: 40px;
    line-height: 3.0;
    position: fixed;
    bottom: 17%;
    left: 0;
  }

.social-icons{
  font-size: 25px;
}
  
.vl-l {
border-left: 2px solid rgb(32, 255, 244);
height: 130px;
margin-left: 50px;
position: fixed;
bottom: 0;
left: 0;
}

.vert-mail{
position: fixed;
bottom: 17%;
right: 0;
font-size: 20px;
text-decoration: none;
writing-mode: vertical-rl;
text-orientation: mixed;
color: aliceblue;
margin-right: 35px;
}

.vl-r {
border-left: 2px solid rgb(32, 255, 244);
height: 130px;
margin-right: 50px;
position: fixed;
bottom: 0;
right: 0;
}

#canvas{
  width: 500px;
  height: 500px;
}

@media only screen and (max-width: 1050px) {
  #canvas{
    width: 450px;
    height: 450px;
  }
}

@media only screen and (max-width: 850px) {
  #canvas{
    width: 400px;
    height: 400px;
  }
}

@media only screen and (max-width: 650px) {
  .social-icons{
    font-size: 20px;
  }
  .socials{
    margin-left: 16px;
  }
  .vl-l{
    margin-left: 25px;
  }
  .vert-mail{
    margin-right: 12px;
    font-size: 15px;
    bottom: 13%;
    }
    
    .vl-r {
    margin-right: 25px;
    height: 100px;
    }
}