.typer {
    font-weight: 700;
    color: rgba(37, 255, 55, 0.85);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .desc1 {
    color: rgba(255, 255, 255, 0.699);
    font-weight: 700;
  }
  
  .desc2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(37, 255, 55, 0.795);
    font-weight: bold;
    margin: 36.8px 0px;
    line-height: 2.5;
  }