.article{
    margin-top: 100px;
    margin-bottom: 150px;
}

.image{
    margin-top: 20px;
    max-width:110%;
    height:auto;
}

.type{
    color: rgba(37, 255, 55, 0.85);
    text-align: right;
    margin-bottom: 5px;
}

.detail{
    background:rgb(29, 29, 29); 
    color: aliceblue;
    max-height: 180px; 
    max-width : 500px;
}

.altBlock{
    position: relative;
    left: 20%;
}

@media only screen and (max-width: 970px) {
    .image {max-width: 140%;}
}